.la{
	height: 120px;
	width: 690px;
}
.ABc{
	height: 55px;
	widtgh: 55px;
	float: left;
	padding-top: 40px;
	padding-left: 70px;
}
.la h3{
	padding-right: 440px;
	padding-top: 50px;
}
.la span{
	padding-right: 350px;
	position: relative;
	bottom: 15px;
}
.la h1{
	position: relative;
	left: 165px;
	bottom: 100px;
}
.la p{
	position: relative;
	bottom: 120px;
	left: 210px;
}
.la h4{
	position: relative;
	bottom: 140px;
	left: 150px;
}
.vm{
	height: 33px;
	width: 33px;
	float: right;
	position: relative;
	bottom: 60px;
	right: 290px;
}
.va{
	height: 40px;
	width: 40px;
	padding-left: 50px;
	padding-top: 10px;
}

.ABC{
	height: 3450px;
	width: 800px;
	background-color: #f2f2f2;
	border: 1px solid grey;
	margin: 5px 10px 10px 10px;

}
.abc{
	height: 300px;
	width: 690px;
	background-image: url('images/dental1.jpg');
	margin: 30px 55px 70px 55px;
	
}
.abc h1{
	padding-top: 90px;
	padding-right: 350px;
}
.abc span{
	padding-right: 350px;
}
.abd{
	height: 424px;
	width: 780px;
	margin: 10px 20px 50px 20px;
	
}
.a{
	height: 210px;
	width: 230px;
	float: left;
	margin-left: 10px;
  margin-right: 20px;
}
.b{

	height: 210px;
	width: 230px;	
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}
.c{

	height: 210px;
	width: 230px;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}
.d{

	height: 210px;
	width: 230px;	
	float: left;
	margin-left: 10px;
    margin-right: 20px;
}
.e{

	height: 210px;
	width: 230px;
	float: left;
	margin-left: 10px;
    margin-right: 20px;
}
.f{

	height: 210px;
	width: 230px;
	float: left;
	margin-left: 10px;
    margin-right: 20px;
}
.g{
	height: 70px;
	width: 70px;
	margin-top: 10px;
	border: 3px solid #5cc0f9;
	border-radius: 50%;
}
#Abc{
	font-size: 35px;
	color: #5cc0f9;
    margin-top: 17px;
}
.a span{
	font-size: 13px;
	color: black;
}
.b span{
    font-size: 13px;
	color: black;
}
.c span{
    font-size: 13px;
	color: black;
}
.d span{
    font-size: 13px;
	color: black;
}
.e span{
    font-size: 13px;
	color: black;
}
.f span{
    font-size: 13px;
	color: black;
}
.gf{
	height: 480px;
	width: 800px;
	background-image: url('images/dental2.jpg');
	margin-top: 10px;
}
.gf h2{
	padding-top: 90px;
}
.ha{
	height: 450px;
	width: 800px;
	background-color: white;
}
.bg{
	height: 23px;
	width: 120px;
	background-color: seagreen;
	color: white;
}
.bg span{
	padding-top: 20px;
}
.abcd{
	height: 300px;
	width: 690px;
	background-image: url('images/dental3.jpg');
	margin: 30px 55px 10px 55px;
}
.ram{
	height: 100px;
	width: 550px;
	margin-top: 50px;

}
.bh{
     height: 350px;
     width: 690px;
     margin: 20px 25px 10px 25px;
}
.bh h3{
	position: relative;
	right: 230px;
	top: 24px;
	font-size: 23px;
}
.bh h4{
	font-size: 23px;
	position: relative;
	bottom: 28px;

}
.bh h5{
	font-size: 23px;
	position: relative;
	bottom: 90px;
	left: 220px;
}
.di{
	height: 250px;
	width: 220px;
	margin-right: 10px;
	float: left;
	background-image: url('images/dental5.jpg');
}
.pr{
    height: 250px;
	width: 220px;
	margin-right: 10px;
	float: left;
	background-image: url('images/dental6.jpg');
}
.as{
    height: 250px;
	width: 220px;
	float: left;
	background-image: url('images/dental7.jpg');
}
.ak{
	height: 500px;
	width: 800px;
	background-color: white;
}
.ga{
	height: 160px;
	width: 470px;
	padding-top: 20px;
}
.ma{
	height: 180px;
	width: 690px;
}
.vu{
      height: 180px;
      width: 180px;
      float: left;
      border-radius: 50%;
      margin-right: 50px;
      margin-left: 20px;
      background-image: url('images/dental11.jpg');
}

.sim{
      height: 180px;
      width: 180px;
      float: left;
      border-radius: 50%;
      margin-right: 50px;
      background-image: url('images/dental22.jpg');
}
.vi{
      height: 180px;
      width: 180px;
      border-radius: 50%;
      float: left;
      background-image: url('images/dental33.jpg');
}
.ve{
	height: 50px;
	width: 670px;
	margin: 10px 65px 1px 65px;
}
.in{
    height: 20px;
    width: 223px;
    float: left;
} 
.do{
    height: 20px;
    width: 223px;
    float: left;

}
.bo{
    height: 20px;
    width: 223px;
    float: left;
}
.son{
	  height: 10px;
    width: 223px;
    float: left;
    padding-right: 10px;
    
}
.don{
	  height: 10px;
    width: 223px;
    float: left;
}
.bom{
	  height: 10px;
    width: 223px;
    float: left;
}
.bha{
	height: 200px;
	width: 800px;
	background-image: url('images/dental8.jpg');
}
.app{
	height: 182px;
	width: 400px;
	float: left;
	background-color: white;

}
.ven{
	height: 182px;
	width: 400px;
	float: left;
	background-color: white;
}
.app h2{
	padding-right: 70px;
	padding-top: 10px;
}
.app span{
	font-size: 13px;
	padding-left: 47px;
}
.app p{
	font-size: 13px;
	padding-right: 123px;
}
.ven h2{
	padding-top: 10px;
	padding-right: 70px;

}
.ven h3{
	font-size: 23px;
	padding-right: 170px;
	position: relative;
	bottom: 20px;
}
.ven span{
	font-size: 13px;
	position: relative;
	bottom: 30px;
	right: 10px;
}
.ven p{
	font-size: 13px;
	position: relative;
	bottom: 40px;
}

